{% extends "base.html" %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <h2>Tableau de bord</h2>
    <!-- If the user is administrator -->
    {% if user.is_admin %}
    <ul>
        <li><a href="{% url 'list_restaurants' %}">Restaurants</a></li>
        <li><a href="{% url 'type_poste_list' %}">Types de poste</a></li>
        <li><a href="{% url 'collaborator_list' %}">Collaborateurs</a></li>
        <li><a href="{% url 'affectation_list' %}">Affectations</a></li>
    </ul>
    {% else %}
        <p>Les collaborateurs sans droits particuliers n'ont pour le moment pas accès aux fonctionnalités avancées.</p>
    {% endif %}
{% endblock %}
